{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
Do You really want to change your password?
  <form method="post">
    {% csrf_token %}
    {{ error }}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Change Password</button>
  </form>

{% else %}
<h2>Info</h2>
You can't change your password while being logged off !
Please log in first

<a href="{% url 'login' %}" class="btn btn-default">Sign In</a><br>

{% endif %}
{% endblock %}